<ion-header>
    <ion-navbar primary>
        <ion-title>{{"lead.lending.lendingCopayer.lendingCopayers" | translate}}</ion-title>
        <ion-buttons right>
            <button (click)="onAdd()">
                {{"action.add" | translate}}
                <ion-icon name='add'></ion-icon>
            </button>
            <button (click)="onNext()">
                {{"action.next" | translate}}
                <ion-icon name='arrow-forward'></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ng-container *ngIf="lendingCopayers">
        <ion-row wrap>
            <ion-col width-50 *ngFor="let lendingCopayer of lendingCopayers.list">
                <ion-card>
                    <ion-card-header>
                        {{lendingCopayer.fullname}}
                    </ion-card-header>
                    <ion-card-content>
                        <form #lendingCopayerForm="ngForm" novalidate (ngSubmit)="onUpdate(lendingCopayer)">
                            <ion-item-divider>
                                {{"lead.lending.lendingCopayer.identity" | translate}}
                            </ion-item-divider>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.relationship" | translate}} *</ion-label>
                                <ion-select [(ngModel)]="lendingCopayer.relationship" name="relationship" #relationship="ngModel" [cancelText]="'action.cancel' | translate"
                                            [okText]="'action.submit' | translate">
                                    <ion-option *ngFor="let relationship of lookupProvider.relationships | async" [value]="relationship">{{'lookup.relationship.' + relationship | translate}}
                                    </ion-option>
                                </ion-select>
                            </ion-item>
                            <p [hidden]="relationship.valid || !relationship.touched" danger padding-left>
                                {{"message.mandatory" | translate}}
                            </p>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.name" | translate}} *</ion-label>
                                <ion-input type="text" [(ngModel)]="lendingCopayer.name" name="name" #name="ngModel" maxlength="20"></ion-input>
                            </ion-item>
                            <p [hidden]="name.valid || !name.touched" danger padding-left>
                                {{"message.mandatory" | translate}}
                            </p>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.surname" | translate}}</ion-label>
                                <ion-input type="text" [(ngModel)]="lendingCopayer.surname" name="surname" #surname="ngModel" maxlength="20"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.dateOfBirth" | translate}}</ion-label>
                                <ion-datetime [(ngModel)]="lendingCopayer.dateOfBirth" name="dateOfBirth" #dateOfBirth="ngModel" displayFormat="DD-MM-YYYY"
                                              [cancelText]="'action.cancel' | translate" [doneText]="'action.submit' | translate"></ion-datetime>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.gender" | translate}}</ion-label>
                                <ion-select [(ngModel)]="lendingCopayer.gender" name="gender" #gender="ngModel" [cancelText]="'action.cancel' | translate"
                                            [okText]="'action.submit' | translate">
                                    <ion-option *ngFor="let gender of lookupProvider.genders | async" [value]="gender">{{'lookup.gender.' + gender | translate}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.maritalStatus" | translate}}</ion-label>
                                <ion-select [(ngModel)]="lendingCopayer.maritalStatus" name="maritalStatus" #maritalStatus="ngModel" [cancelText]="'action.cancel' | translate"
                                            [okText]="'action.submit' | translate">
                                    <ion-option *ngFor="let maritalStatus of lookupProvider.maritalStatuses | async" [value]="maritalStatus">{{'lookup.maritalStatus.' + maritalStatus |
                                        translate}}
                                    </ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.education" | translate}}</ion-label>
                                <ion-select [(ngModel)]="lendingCopayer.education" name="education" #education="ngModel" [cancelText]="'action.cancel' | translate"
                                            [okText]="'action.submit' | translate">
                                    <ion-option *ngFor="let education of lookupProvider.educations | async" [value]="education">{{'lookup.education.' + education | translate}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.idType" | translate}}</ion-label>
                                <ion-select [(ngModel)]="lendingCopayer.idType" name="idType" #idType="ngModel" [cancelText]="'action.cancel' | translate"
                                            [okText]="'action.submit' | translate">
                                    <ion-option *ngFor="let idType of lookupProvider.idTypes | async" [value]="idType">{{'lookup.idType.' + idType | translate}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.idNumber" | translate}}</ion-label>
                                <ion-input type="text" [(ngModel)]="lendingCopayer.idNumber" name="idNumber" #idNumber="ngModel" maxlength="16"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.idDateOfIssue" | translate}}</ion-label>
                                <ion-datetime [(ngModel)]="lendingCopayer.idDateOfIssue" name="idDateOfIssue" #idDateOfIssue="ngModel" displayFormat="DD-MM-YYYY"
                                              [cancelText]="'action.cancel' | translate" [doneText]="'action.submit' | translate"></ion-datetime>
                            </ion-item>
                            <p *ngIf="(lendingCopayer.dateOfBirth && lendingCopayer.idDateOfIssue) && toDateLessThanOrEqualToFromDate(lendingCopayer.dateOfBirth, lendingCopayer.idDateOfIssue)"
                               danger padding-left>
                                {{"message.mustBeGreaterThan" | translate}} {{"lead.lending.lendingCopayer.dateOfBirth" | translate}}
                            </p>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.idPlaceOfIssue" | translate}}</ion-label>
                                <ion-input type="text" [(ngModel)]="lendingCopayer.idPlaceOfIssue" name="idPlaceOfIssue" #idPlaceOfIssue="ngModel" maxlength="100"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.businessRegistrationNumber" | translate}}</ion-label>
                                <ion-input type="text" [(ngModel)]="lendingCopayer.businessRegistrationNumber" name="businessRegistrationNumber" #businessRegistrationNumber="ngModel"
                                           maxlength="50"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.ownership" | translate}}</ion-label>
                                <ion-select [(ngModel)]="lendingCopayer.ownership" name="ownership" #ownership="ngModel" [cancelText]="'action.cancel' | translate"
                                            [okText]="'action.submit' | translate">
                                    <ion-option *ngFor="let ownership of lookupProvider.ownerships | async" [value]="ownership">{{'lookup.ownership.' + ownership | translate}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item-divider>
                                {{"lead.lending.lendingCopayer.permanentAddress" | translate}}
                            </ion-item-divider>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.permanentAddressLine1" | translate}}</ion-label>
                                <ion-input [(ngModel)]="lendingCopayer.permanentAddressLine1" name="permanentAddressLine1" type="text" maxlength="100"
                                              #permanentAddressLine1="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.permanentAddressLine2" | translate}}</ion-label>
                                <ion-input [(ngModel)]="lendingCopayer.permanentAddressLine2" name="permanentAddressLine2" type="text" maxlength="100"
                                              #permanentAddressLine2="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.permanentAddressLine3" | translate}}</ion-label>
                                <ion-input [(ngModel)]="lendingCopayer.permanentAddressLine3" name="permanentAddressLine3" type="text" maxlength="100"
                                              #permanentAddressLine3="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.permanentAddressLine4" | translate}}</ion-label>
                                <ion-input [(ngModel)]="lendingCopayer.permanentAddressLine4" name="permanentAddressLine4" type="text" maxlength="100"
                                              #permanentAddressLine4="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.permanentCity" | translate}}</ion-label>
                                <ion-input [(ngModel)]="lendingCopayer.permanentCity" name="city" type="text" maxlength="30" #city="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.permanentState" | translate}}</ion-label>
                                <ion-input [(ngModel)]="lendingCopayer.permanentState" name="state" type="text" maxlength="30" #state="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.permanentZipCode" | translate}}</ion-label>
                                <ion-input [(ngModel)]="lendingCopayer.permanentZipCode" name="permanentZipCode" type="text" maxlength="10" #permanentZipCode="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.lending.lendingCopayer.country" | translate}}</ion-label>
                                <ion-input [(ngModel)]="lendingCopayer.country" name="country" type="text" maxlength="30" #country="ngModel"></ion-input>
                            </ion-item>
                            <ion-buttons margin-top>
                                <button secondary type="submit"
                                        [disabled]="!lendingCopayerForm.form.valid || toDateLessThanOrEqualToFromDate(lendingCopayer.dateOfBirth, lendingCopayer.idDateOfIssue)">
                                    {{"action.update" | translate}}
                                </button>
                                <button type="button" outline secondary (click)="onRemove(lendingCopayer)">{{"action.delete" | translate}}</button>
                            </ion-buttons>
                        </form>
                        <print *ngIf="appProvider.debug" name="lendingCopayer" [value]="lendingCopayer"></print>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ng-container>
</ion-content>
