.dashboard {
  background: $dark-blue;
  h1 {
    color: $white;
    background: rgba(0, 0, 0, 0.1);
  }
  h2 {
    color: $white;
  }
  h3 {
    color: $baby-blue;
    padding-top: $h-pad/2;
  }
  ion-card-header {
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
  }
  ion-col {
    height: 100%;
  }
  ion-row {
    height: 50%;
  }
  @media (max-width: 1023px) {
    ion-row {
      height: auto;
    }
  }
  ion-card {
    background: rgba(0, 144, 254, 0.1);
    height: calc(50vh - 56px);
    position: relative;
  }

  .card-dash ion-card-content {
    padding: 0;
  }
  .card-header {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: $v-pad;
    color: $white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
  }
  .card-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: $h-pad;
    color: $white;
  }
  .card-footer-info {
    float: left;
    margin-top: $h-pad;
  }
  .dashboard-placeholder {
    width: 55%;
    margin: 0 auto;
  }

  // .tips {
  //   background: url('../../image/pages/dashboard/bg-tips.jpg') !important;
  //   background-repeat: no-repeat;
  //   background-size: cover !important;
  //   color: #08346e;
  //   font-weight: 400;
  //   border-radius: $radius;
  //   padding: 0 10% 15%;
  //   font-size: 2rem;
  // }
  // .tips:nth-child(2) {
  //   background: url('../../image/pages/dashboard/bg-tips2.jpg') !important;
  //   background-repeat: no-repeat;
  //   background-size: cover !important;
  // }
  // .tips:nth-child(3) {
  //   background: url('../../image/pages/dashboard/bg-tips3.jpg') !important;
  //   background-repeat: no-repeat;
  //   background-size: cover !important;
  // }
  .tips {
    background: url('../../image/pages/dashboard/bg-tips-even.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #FEFFFF;
    font-weight: 400;
    border-radius: $radius;
    padding: 0 10% 15%;
    font-size: 2rem;
  }
  .tips:nth-child(2) {
    background: url('../../image/pages/dashboard/bg-tips-odd1.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
  }
  .tips:nth-child(3) {
    background: url('../../image/pages/dashboard/bg-tips-odd2.jpg') !important;
    background-repeat: no-repeat;
    color: #030712;
    background-size: cover !important;
  }

  .tips ion-row {
    height: 100%;
  }
  .swiper-pagination {
    display: block !important;
  }
  .tips .slide-zoom {
    padding-bottom: 10%;
  }
  //Lead status
  .btn-dash-add {
    position: absolute;
    right: $h-pad;
    top: $h-pad/2;
    color: $white;
  }
  .lead-stats ion-card-content {
    height: calc(100%);
  }
  .lead-stats-bg {
    width: 25%;
    height: 100%;
    display: inline-block;
  }
  .lead-stats-placeholder {
    display: flex;
    height: 100%;
  }
  .lead-stats-bg:nth-child(1) {
    //@include gradient(rgba(0,0,0,0.1), rgba(0,0,0,0))
    background: rgba(0, 0, 0, .1);
  }
  .lead-stats-bg:nth-child(2) {
    //@include gradient(rgba(0,0,0,0.2), rgba(0,0,0,0))
    background: rgba(0, 0, 0, .2);
  }
  .lead-stats-bg:nth-child(3) {
    //@include gradient(rgba(0,0,0,0.3), rgba(0,0,0,0))
    background: rgba(0, 0, 0, .3);
  }
  .lead-stats-bg:nth-child(4) {
    //@include gradient(rgba(0,0,0,0.4), rgba(0,0,0,0))
    background: rgba(0, 0, 0, .4);
  }
  .lead-status {
    //@include gradient(rgba(49,136,209,1), rgba(49,136,209,0.1));
    background: rgba(0, 142, 250, 0.3);
    border-top: 2px rgba(49, 136, 209, 1) solid;
    position: absolute;
    bottom: 0;
    width: 25%;
    text-align: center; //box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  }
  .lead-status div {
    z-index: 2;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: $h-pad/2;
    color: $white-blue;
    text-transform: uppercase;
    font-size: 1rem;
  }
  .oldest{
    color: $white;
    background: rgba(0, 0, 0, 0.1);
    border-top:1px solid #5B9DC6; 
  }
  .oldest-header{
    color: $white;
    background: rgba(0, 0, 0, 0.1);
    
  }
  /* inshad/sandeep circle code */
 .tips-even{
    background: url('../../image/pages/dashboard/bg-tips-even.jpg') !important;
     background-repeat: no-repeat;
    background-size: cover !important;
    color: #FEFFFF;
    font-weight: 400;
    border-radius: $radius;
    padding: 5% 10% 15%;
    font-size: 2rem; 
    height: 100%;
 } 
 .tips-odd1{
    background: url('../../image/pages/dashboard/bg-tips-odd1.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #FEFFFF;
    font-weight: 400;
    border-radius: $radius;
    padding: 5% 10% 15%;
    font-size: 2rem; 
    height: 100%;
 } 
 .tips-odd2{
    background: url('../../image/pages/dashboard/bg-tips-odd2.jpg') !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    color: #FEFFFF;
    font-weight: 400;
    border-radius: $radius;
    padding: 5% 10% 15%;
    font-size: 2rem; 
    height: 100%;
 } 
.circle {
  display: inline-block;
  text-align: center;
  width: 100%;
  
}
.time {
  display: inline-block;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 25px;
  font-weight: normal;
}
.text {
  display: inline-block;
  left: 0;
  position: absolute;
  text-align: center;
  top: 44%;
  width: 100%;
}
.circle-null {
  display: inline-block;
  text-align: center;
  width: 100%;
  
}
.time-null {
  color: #fff;
    display: inline-block;
    font-size: 45px;
    font-weight: normal;
    text-align: center;
    width: 100%;
}
.text-null {
    display: inline-block;
    left: 0;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 100%;;
}
 .dashboard-img {
  width:100%;
  max-width: 55%;
    margin: 0 auto;
  position: relative;
  
}

.lead-stats-daily ion-card-content {
    height: calc(100%);
  }
 .lead-stats-daily-bg {
  display: inline-block;
  height: 100%;
  width: 50%;
  float: left;
  position: relative;
}
.name-columen {
    z-index: 2;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 1.2rem;
    color: $white-blue;
    text-transform: uppercase;
    font-size: 1rem;
}
 .comm-men-width {
    float: left;
    width: 33.33%;
    position: relative;
    padding-right: 3px !important;
  }

  .lead-stats-daily-placeholder {
    display: flex;
    height: 100%;
   flex-flow: row wrap!important;
  }
  // .main-lead:nth-child(1){
  // 	background: rgba(0, 0, 0, .1);
  // }
  //  .main-lead:nth-child(2){
  // 	background: rgba(0, 0, 0, .2);
  // }
  //  .main-lead:nth-child(3){
  // 	background: rgba(0, 0, 0, .3);
  // }
  // .lead-stats-daily-bg:nth-child(1) {
  //   //@include gradient(rgba(0,0,0,0.1), rgba(0,0,0,0))
  //   background: rgba(0, 0, 0, .1);
  // }
  // .lead-stats-daily-bg:nth-child(2) {
  //   //@include gradient(rgba(0,0,0,0.2), rgba(0,0,0,0))
  //   background: rgba(0, 0, 0, .1);
  // }
  // .lead-stats-daily-bg:nth-child(3) {
  //   //@include gradient(rgba(0,0,0,0.3), rgba(0,0,0,0))
  //   background: rgba(0, 0, 1, .5);
  // }
  // .lead-stats-daily-bg:nth-child(4) {
  //   //@include gradient(rgba(0,0,0,0.4), rgba(0,0,0,0))
  //   background: rgba(0, 0, 1, .5);
  // }
  //  .lead-stats-daily-bg:nth-child(5) {
  //   //@include gradient(rgba(0,0,0,0.3), rgba(0,0,0,0))
  //   background: rgba(0, 0, 4, .9);
  // }
  // .lead-stats-daily-bg:nth-child(6) {
  //   //@include gradient(rgba(0,0,0,0.4), rgba(0,0,0,0))
  //   background: rgba(0, 0, 4, .9);
  // }
  .lead-status-daily-first {
    //@include gradient(rgba(49,136,209,1), rgba(49,136,209,0.1));
    background: rgba(0, 142, 250, 0.3);
    border-top: 2px rgba(49, 136, 209, 1) solid;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; //box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  }
    .lead-status-daily-second {
    //@include gradient(rgba(49,136,209,1), rgba(49,136,209,0.1));
    background: rgba(0, 142, 250, 25);
    border-top: 2px rgba(49, 136, 209, 1) solid;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center; //box-shadow: 0 0 10px 0 rgba(0,0,0,0.4);
  }
   .lead-status-daily div {
    z-index: 2;
    display: block;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: $h-pad/2;
    color: $white-blue;
    text-transform: uppercase;
    font-size: 1rem;
  }
.grey {
  background-color: #ccc;
  float: left;
  min-height: 85px;
  width: 49%;
}
.black {
  background-color: #000;
  float: right;
  min-height: 64px;
  width: 49%;
}
.daily-target {
  float: left;
  width: 100%;
}
.ab {
    position: absolute;
    bottom: 0;
}
.bar-label {
  position: absolute;
  bottom: -25%;
  font-size: 18px;
  color: #fff;
}
 /* end */
}
