.introduction {
  background-size: 100% !important;
  background-repeat: no-repeat !important;
  background-position-y: 56px !important;

  .card-override {
    position: absolute;
    width: 40%;
    top: 20%;
    right: 5%;
    @include dshadow(0px, 25px, 55px, 0.21, 0px, 16px, 18px, 0.21);

    ion-card-header {
      background: $dark-blue;
      position: relative;
      overflow: visible;

      img {
        display: inline-block;
        max-width: 60%;
      }

      h2 {
        color: $white;
        text-transform: uppercase;
        font-weight: 600;
      }

      p {
        color: $white;
      }

      .divider {
        height: .6rem;
        border-radius: $radius;
        overflow: hidden;
        width: 40%;
        position: absolute;
        bottom: -.33rem;
        background: $orange;

        div {
          width: 100%;
          position: relative;
          display: flex;
          height: .6rem;
        }

        span {
          width: 33.3%;
          display: inline-block;
          height: .6rem;
        }

        span:nth-child(1) {
          background: $yellow;
        }

        span:nth-child(2) {
          background: $midorange;
        }

        span:nth-child(3) {
          background: $orange;
        }

      }

    }

  }

  .card-override.left {
    left: 5%
  }

}

.introduction-intro {
  @extend .introduction;
}

.introduction-partnerships {
  @extend .introduction;
}

.introduction-awards {
  @extend .introduction;
}

.introduction-rm {
  @extend .introduction;
}