<ion-header>
    <ion-navbar primary hideBackButton>
        <ion-title>{{"message.application" | translate}}</ion-title>
        <ion-buttons left>
            <button (click)="onback()" >
                <ion-icon class="back-button-icon ion-md-arrow-back"></ion-icon>
            </button>
        </ion-buttons>
        <ion-buttons right>
            <button [disabled]="formInvalid==true" (click)="onSave()">
                {{"action.save" | translate}}
                <ion-icon name='checkmark'></ion-icon>
            </button>
            <button [disabled]="nextbutton==false" (click)="onNext()">
                {{"action.next" | translate}}
                <ion-icon name='arrow-forward'></ion-icon>
            </button>

             
               <!-- <button (click)="onNext()" *ngIf="nextbutton==true">
                {{"action.next" | translate}}
                <ion-icon name='arrow-forward'></ion-icon>
            </button> -->
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content class="customer-applications">
    <ng-container *ngIf="currentAccount">
        <form #currentAccountForm="ngForm" novalidate (ngSubmit)="onSave()" [hidden]="onForm(currentAccountForm)">
            <ion-card>
                <ion-item>
                    <ion-avatar item-left>
                        <img src="image/icon/contact.svg">
                    </ion-avatar>
                    <h2>{{"lead.currentAccount.youAre5Min" | translate}}.</h2>
                    <p>{{"lead.currentAccount.afterCompleting" | translate}}.</p>
                </ion-item>
            </ion-card>
            <ion-row>
                <ion-col width-50 no-padding>
                    <ion-card>
                        <ion-card-header>
                            {{"lead.currentAccount.identity" | translate}}
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.placeOfBirth" | translate}}</ion-label>
                                <ion-select [(ngModel)]="currentAccount.placeOfBirth" name="placeOfBirth" #placeOfBirth="ngModel" [cancelText]="'action.cancel' | translate"
                                            [okText]="'action.submit' | translate">
                                    <ion-option *ngFor="let place of lookupProvider.placesOfBirths | async" [value]="place">{{'lookup.placesOfBirth.' + place | translate}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.idDateOfIssue" | translate}}</ion-label>
                                <ion-datetime [(ngModel)]="currentAccount.idDateOfIssue" name="idDateOfIssue" #idDateOfIssue="ngModel" displayFormat="DD-MM-YYYY"
                                              [cancelText]="'action.cancel' | translate"
                                              [doneText]="'action.submit' | translate"></ion-datetime>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.idPlaceOfIssue" | translate}}</ion-label>
                                <ion-input type="text" [(ngModel)]="currentAccount.idPlaceOfIssue" name="idPlaceOfIssue" #idPlaceOfIssue="ngModel" maxlength="100"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.occupation" | translate}}</ion-label>
                                <ion-select [(ngModel)]="currentAccount.occupation" name="occupation" #occupation="ngModel" [cancelText]="'action.cancel' | translate"
                                            [okText]="'action.submit' | translate">
                                    <ion-option *ngFor="let occupation of lookupProvider.occupations | async" [value]="occupation">{{'lookup.occupation.' + occupation | translate}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item *ngIf="productType=='current_account'">
                                <ion-label stacked>{{"lead.currentAccount.tempAccountNr" | translate }}</ion-label>
                                <ion-input [value]="currentAccount.tempAccountNr" disabled></ion-input>
                            </ion-item>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
                <ion-col width-50 no-padding>
                    <ion-card>
                        <ion-card-header>
                            {{"lead.currentAccount.permanentAddress" | translate}}
                        </ion-card-header>
                        <ion-card-content>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.permanentAddressLine1" | translate}}</ion-label>
                                <ion-input [(ngModel)]="currentAccount.permanentAddressLine1" name="permanentAddressLine1" type="text" maxlength="100"
                                           #permanentAddressLine1="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.permanentAddressLine2" | translate}}</ion-label>
                                <ion-input [(ngModel)]="currentAccount.permanentAddressLine2" name="permanentAddressLine2" type="text" maxlength="100"
                                           #permanentAddressLine2="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.permanentAddressLine3" | translate}}</ion-label>
                                <ion-input [(ngModel)]="currentAccount.permanentAddressLine3" name="permanentAddressLine3" type="text" maxlength="100"
                                           #permanentAddressLine3="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.permanentAddressLine4" | translate}}</ion-label>
                                <ion-input [(ngModel)]="currentAccount.permanentAddressLine4" name="permanentAddressLine4" type="text" maxlength="100"
                                           #permanentAddressLine4="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.permanentCity" | translate}}</ion-label>
                                <!-- <ion-input [(ngModel)]="currentAccount.permanentCity" name="city" type="text" maxlength="30" #city="ngModel"></ion-input> -->
                                <ion-select [(ngModel)]="currentAccount.permanentCity" name="city" #city="ngModel" [cancelText]="'action.cancel' | translate" [okText]="'action.submit' | translate">
                                    <ion-option *ngFor="let city of lookupProvider.listOfCity | async" [value]="city">{{'lookup.listOfCity.' + city | translate}}</ion-option>
                                </ion-select>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.permanentState" | translate}}</ion-label>
                                <ion-input [(ngModel)]="currentAccount.permanentState" name="state" type="text" maxlength="30" #state="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.permanentZipCode" | translate}}</ion-label>
                                <ion-input [(ngModel)]="currentAccount.permanentZipCode" name="permanentZipCode" type="text" maxlength="10" #permanentZipCode="ngModel"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label stacked>{{"lead.currentAccount.country" | translate}}</ion-label>
                                <ion-input [(ngModel)]="currentAccount.country" name="country" type="text" maxlength="30" #country="ngModel"></ion-input>
                            </ion-item>
                            
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </form>
    </ng-container>
    <print *ngIf="appProvider.debug" name="currentAccount" [value]="currentAccount"></print>
</ion-content>

